.news {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
h2 {
    text-align: center;
}
.new{
    height: 400px;
    width: 700px;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 50px;
}
.new::after{
    content: "  20-11-2002 20:12";
}